
body {
  
  margin: 0;
  font-family:'Roboto' ;
}



.img2 {
  height: 275px;
}

.fa-heart {
  font-size: 22px;
  padding: 40px 40px 0 40px;
}


.head i {
  cursor: pointer;
  position: absolute;
  left: 23px;
  top:3.1%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #000;
}

h2 {
  margin-bottom: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;

}

.head img {
  width: 162px;
}

.img-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  
  
}

.container + h3 + .plats {
  display: flex;
  flex-direction: column;
}


.title {
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 40px 0;
}

.title h1 {
  margin-right: 0;
  margin-left: 0;
}

.effet {
  background-color: #99E2D0;
  display: none;
  width: 15%;
  margin-top: -20px;
  transition-delay: 6s;
  
  
  
  
  
  
}

.h3 {
  padding-right: 100px;
}


.fa-check {
  padding:5px;
  color: #99E2D0;
  background-color:white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  

  
}

.prize {
  transition: 4s;
  height: 100%;
  margin-top: -20px;
  
}

.prize:hover + .effet {
  display: flex;
  background-color: #99E2D0;
  align-items: center;
  justify-content: center;
  transition: transform 3s ease-in-out;
 
  
  
  
}



i {
  cursor: pointer;
}
.fa-full {
  position: absolute;
  transition: transform 450ms, background-color 300ms 150ms;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  font-size: 22px;
  opacity: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
}

.fa-full:hover {
  opacity: 1;
}

.fa-empty {
  font-size: 22px;
}

.fa-empty:hover {
  opacity: 0;
}

.heart-icons {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: -25px;
  
}



.menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.horizontal {
  border: 1px solid #99E2D0;
  width: 40px;
  margin-left: 2px;
}

.card {
    background-color: white;
    
    border-radius: 15px;
    padding: 12px 10px 12px 10px;
    justify-content: center;
    margin-bottom: 20px;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    animation:card 1s cubic-bezier(0.6, 0.01, 1, 0.47);
}

.delay2 {
  animation:card 1.5s cubic-bezier(0.6, 0.01, 1, 0.47);
}

.delay3 {
  animation:card 2.5s cubic-bezier(0.6, 0.01, 1, 0.47);
}

.cardtest {
  background-color: white;
    display: flex;
    border-radius: 15px;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 20px;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    animation:card 1.2s cubic-bezier(0.6, 0.01, 1, 0.47);
    
}

.titleplat {
  justify-content: flex-start;
  padding: 12px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

.containertest {
  display: flex;
    padding: 0;
    align-items: end;
    justify-content: space-between;
    


}

.Contact {
  text-decoration: none;
  color: white;

}
.prizetest {
  padding-right: 25px;
  padding-bottom: 12px;
  
  
}

.cardtest h3 {
  margin: 0;
}

.effetest {
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  opacity: 0;
 justify-content: center;
  display: flex;
  height: 100%;
  transition: .6s all;
  width: 0;
  align-items: center;
   
  
 
}
  






.cardtest:hover  .effetest {

  opacity: 1;
  padding: 0 20px;
  width: initial;
  
  
  
  
}





.fa-test {
  
  background-color:white;
  color:#99E2D0;
  padding: 8px;
  
  border-radius: 15px;
  display: flex;
  justify-content: center;
  transition-delay: 0.5s;

}




.card h3 {
  margin: 0;
  margin-bottom: 10px;
}

.card p {
  margin: 0;
}


@keyframes card {
  0% {
      opacity: 0;
      visibility: hidden;
  }

  100% {
      opacity: 1;
      
  }
}




.container {
  display: flex;
  justify-content: end;
  
  
  
}

main {
   
    background-color:#EAEAEA ;
    padding: 13px;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    padding-bottom: 66px;
    padding-left: 13px;
    position: relative;
    margin-top: -20px;
    
}

.img2 img {
    width: 100%;
    height:275px;
    object-fit: cover;
}

.prize {
  justify-content: end;
}





footer {
  background-color: #353535;
  color: white;
  padding-bottom: 22px;
  
  
}

footer a {
  padding-left: 25px;
  padding-top: 7px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.lienicon {
  flex-direction: row;
}

footer img {
  width: 137px;
  height: 27px;
  padding: 25px;
  -webkit-filter: invert(100%);
}

footer i {
  margin-right: 11px;
}

  h1 {
    display: flex;
    justify-content: center;
  }


  .firstbutton {
    background: linear-gradient(#ff79da, #9356dc);
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 13px 20px;
    margin: 0 2%;
    box-sizing: border-box;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 218px;
    color: white;
    margin: 40px 0 40px 0;
    cursor: pointer;
  }

  
  
  .unbouton {
    display: flex;
    justify-content: center;
  
  }

  .unbouton:active {
    opacity: 50%;
  }

  

  article {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  body {
    font-family: 'Roboto';
  }


 h1 {
  font-style: italic;
  font-weight: bolder;
  font-size: 28px;
  font-family: 'Shrikhand';
 }
  
 



  @media screen and (min-width: 1440px) {

    main {
      max-width: 1055px;
      margin-left: auto;
      margin-right: auto;
    }
    
    

    .reverse {
        display: flex;
        flex-direction: row;
        justify-content:end;
        padding-right: 20px;
        
    }

    footer {
        display: flex;
        flex-direction: row-reverse;
        padding-top: 64px;
        justify-content:end;
        padding-right: 20px;
        
    }

    footer img {
    
      padding:0 60px 0 60px ;
      
      
      
    }

    .menu {
    
      padding-right: 210px;
      padding-left: 210px;
      margin: auto;
    }

    .title {
      margin-left: 210px;
      margin-right: 210px;
    }

    
    h1 {
      margin: auto;
    }
    
}